/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #666666;
	background-color: #242633;
	background-image:url('miniupload_logo.png');
	background-repeat:no-repeat;
	background-position:center top;
	width: 380px;
	margin: 10px auto 0px auto;
}

#screen {
	padding: 20px;
	border: 7px solid #313448;
	border-radius:10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow:0 0 10px #2E3143;
	-moz-box-shadow: 0 0 10px #2E3143;
	box-shadow: 0 0 10px #2E3143;
	margin-top:140px;
	background-image: -moz-linear-gradient(top, #ffffff,#ccc);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ccc));
	align: center;	  
}

#footer {
	align: center;
	margin: 10px auto 0px auto;
	text-align: center;
	font-size: 8pt;
	background-color: #313448;
	border: 2px solid #313448;
	border-radius: 5px;
	-moz-border-radius: 10px;
	-webkit-box-shadow:0 0 10px #2E3143;
	-moz-box-shadow: 0 0 10px #2E3143;
	box-shadow: 0 0 10px #2E3143;	  
}

h1, h2, h3, h4 { margin-top: 0px; }
*:focus{ outline:none; }
.floatLeft { float: left; }
.floatRight { float: right; }
.clear { clear: both; }
.notice { }

  
input {			
	border:1px solid #ccc;
	font-size: 13px;			
	padding: 5px 10px 5px 10px;			
	border-radius:10px;
	-moz-border-radius: 10px;			
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	align: center;
}
  
input[type=button], input[type=file] {
	background-image: -moz-linear-gradient(top, #ffffff, #dfdfdf);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dfdfdf));
	width: 325px;
	align: center;
}

input[type=button] {
	height: 35px;
}

input[type=file] {
	height: 35px;
}
  
input:focus, input:hover {
	-webkit-box-shadow:0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 5px #ccc;
	/* -webkit-transform: scale(1.05); */
	/* -moz-transform: scale(1.05); */
	/* transform: scale(1.05); */			
}

#fileToUpload { width: 325px; }

#fileInfo {
	font-size: 10pt;
	font-style: italic;
	color: #aaa;
	margin-top: 10px;
}

#uploadResponse {
	font-size: 13px;
}

#info-upload {
	font-size: 10px;
	text-align: center;
	margin-bottom: 10px;
}

.bar p {
	color: white;
	font-size: 12px;
	text-align: right;
	padding-right: 2px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}		  